<center>
<img src="https://habrastorage.org/files/fd4/502/43d/fd450243dd604b81b9713213a247aa20.jpg">
    
## [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course 

<center>Author: [Yury Kashnitskiy](http://yorko.github.io) <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already here). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg). This is a demo version of an assignment, so by submitting the form, you'll see a link to the solution .ipynb file.**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../input/adult.data.csv')
data.head()

   age         workclass  fnlwgt  ...   hours-per-week  native-country salary
0   39         State-gov   77516  ...               40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...               13   United-States  <=50K
2   38           Private  215646  ...               40   United-States  <=50K
3   53           Private  234721  ...               40   United-States  <=50K
4   28           Private  338409  ...               40            Cuba  <=50K

[5 rows x 15 columns]

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [10]:
men_cnt = 0
wmn_cnt = 0
for v in data['sex'].to_dict().values():
    if v == 'Male':
        men_cnt += 1
    else:
        wmn_cnt += 1
print('men  : ' + str(men_cnt))
print('women: ' + str(wmn_cnt))

men  : 21790
women: 10771

In [11]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [20]:
sex_slice = data['sex'].to_dict()
age_slice = data['age'].to_dict()
age_sum = 0
for i in range(data.count()['age']):
    if sex_slice[i] == 'Female':
        age_sum += age_slice[i]
print(f"{age_sum / wmn_cnt:.3}")

36.9

In [30]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [22]:
origin_slice = data['native-country'].to_dict()
german_sum = 0
for o in origin_slice:
    if origin_slice[o] == 'Germany':
        german_sum += 1
print(f"{german_sum * 100 / data.count()['native-country']:.3}%")

0.421%

In [26]:
100 * (data["native-country"] == "Germany").sum() / data.shape[0]

0.42074874850281013

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year?**

In [49]:
print('for more than 50k:')
print(f"mean: {data[data['salary'] == '>50K']['age'].mean():.3f}")
print(f"sd:   {(((data[data['salary'] == '>50K']['age'] - data[data['salary'] == '>50K']['age'].mean())**2).mean())**0.5:.3f}")
print('for less than 50k:')
print(f"mean: {data[data['salary'] == '<=50K']['age'].mean():.3f}")
print(f"sd:   {(((data[data['salary'] == '<=50K']['age'] - data[data['salary'] == '<=50K']['age'].mean())**2).mean())**0.5:.3f}")

for more than 50k:
mean: 44.250
sd:   10.518
for less than 50k:
mean: 36.784
sd:   14.020

In [51]:
data[data['salary'] == '<=50K']['age'].std()

14.020088490824813

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [55]:
data['education'].value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [64]:
data[data['salary'] == '>50K']['education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [72]:
for (race, sex), df in data.groupby(['race', 'sex']):
    print((race, sex))
    print(df['age'].describe())

('Amer-Indian-Eskimo', 'Female')
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
('Amer-Indian-Eskimo', 'Male')
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
('Asian-Pac-Islander', 'Female')
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
('Asian-Pac-Islander', 'Male')
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
('Black', 'Female')
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
('Black', 'Male')
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
('Other', 'Female')
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
('Other', 'Male')
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
('White', 'Female')
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
('White', 'Male')
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [85]:
# for marries
sum_a_lot = 0
sum_not_a_lot = 0
for elm in data[(data["sex"] == "Male")
                & (data["marital-status"].str.startswith("Married"))]['salary'].value_counts().to_dict().items():
    if elm[0] == '>50K':
        sum_a_lot = elm[1]
    else:
        sum_not_a_lot = elm[1]
print(f"a-lot part: {sum_a_lot / (sum_a_lot + sum_not_a_lot):.3f}")

a-lot part: 0.441

In [87]:
# for singles
sum_a_lot = 0
sum_not_a_lot = 0
for elm in data[(data["sex"] == "Male")
                & ~(data["marital-status"].str.startswith("Married"))]['salary'].value_counts().to_dict().items():
    if elm[0] == '>50K':
        sum_a_lot = elm[1]
    else:
        sum_not_a_lot = elm[1]
print(f"a-lot part: {sum_a_lot / (sum_a_lot + sum_not_a_lot):.3f}")

a-lot part: 0.084

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [100]:
num_ = data[data['hours-per-week'] == data['hours-per-week'].max()].shape[0]
num_a_lot_ = data[(data['hours-per-week'] == data['hours-per-week'].max()) & (data['salary'] == '>50K')].shape[0]

print("number: " + str(num_))
print("part a lot: " + str(num_a_lot_ / num_))

number: 85
part a lot: 0.29411764705882354

Дальше просто интересно

In [101]:
data[data['salary'] == '>50K'].shape[0] / data.shape[0]

0.2408095574460244

In [104]:
data['hours-per-week'].mean()

40.437455852092995

In [106]:
print(f"for a lot: {data[data['salary'] == '>50K']['hours-per-week'].mean():.2f}")

for a lot 45.47

In [108]:
print(f"for a litl: {data[data['salary'] == '<=50K']['hours-per-week'].mean():.2f}")

for a litl: 38.84

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [118]:
for country, df in data.groupby(['native-country']):
    print(country)
    print(f"\tearn a lot: {df[df['salary'] == '>50K']['hours-per-week'].mean():.2f}")
    print(f"\tearn a lil: {df[df['salary'] == '<=50K']['hours-per-week'].mean():.2f}")

?
	earn a lot: 45.55
	earn a lil: 40.16
Cambodia
	earn a lot: 40.00
	earn a lil: 41.42
Canada
	earn a lot: 45.64
	earn a lil: 37.91
China
	earn a lot: 38.90
	earn a lil: 37.38
Columbia
	earn a lot: 50.00
	earn a lil: 38.68
Cuba
	earn a lot: 42.44
	earn a lil: 37.99
Dominican-Republic
	earn a lot: 47.00
	earn a lil: 42.34
Ecuador
	earn a lot: 48.75
	earn a lil: 38.04
El-Salvador
	earn a lot: 45.00
	earn a lil: 36.03
England
	earn a lot: 44.53
	earn a lil: 40.48
France
	earn a lot: 50.75
	earn a lil: 41.06
Germany
	earn a lot: 44.98
	earn a lil: 39.14
Greece
	earn a lot: 50.62
	earn a lil: 41.81
Guatemala
	earn a lot: 36.67
	earn a lil: 39.36
Haiti
	earn a lot: 42.75
	earn a lil: 36.33
Holand-Netherlands
	earn a lot: nan
	earn a lil: 40.00
Honduras
	earn a lot: 60.00
	earn a lil: 34.33
Hong
	earn a lot: 45.00
	earn a lil: 39.14
Hungary
	earn a lot: 50.00
	earn a lil: 31.30
India
	earn a lot: 46.48
	earn a lil: 38.23
Iran
	earn a lot: 47.50
	earn a lil: 41.44
Ireland
	earn a lot: 48.00
	earn a lil: 40.95
Italy
	earn a lot: 45.40
	earn a lil: 39.62
Jamaica
	earn a lot: 41.10
	earn a lil: 38.24
Japan
	earn a lot: 47.96
	earn a lil: 41.00
Laos
	earn a lot: 40.00
	earn a lil: 40.38
Mexico
	earn a lot: 46.58
	earn a lil: 40.00
Nicaragua
	earn a lot: 37.50
	earn a lil: 36.09
Outlying-US(Guam-USVI-etc)
	earn a lot: nan
	earn a lil: 41.86
Peru
	earn a lot: 40.00
	earn a lil: 35.07
Philippines
	earn a lot: 43.03
	earn a lil: 38.07
Poland
	earn a lot: 39.00
	earn a lil: 38.17
Portugal
	earn a lot: 41.50
	earn a lil: 41.94
Puerto-Rico
	earn a lot: 39.42
	earn a lil: 38.47
Scotland
	earn a lot: 46.67
	earn a lil: 39.44
South
	earn a lot: 51.44
	earn a lil: 40.16
Taiwan
	earn a lot: 46.80
	earn a lil: 33.77
Thailand
	earn a lot: 58.33
	earn a lil: 42.87
Trinadad&Tobago
	earn a lot: 40.00
	earn a lil: 37.06
United-States
	earn a lot: 45.51
	earn a lil: 38.80
Vietnam
	earn a lot: 39.20
	earn a lil: 37.19
Yugoslavia
	earn a lot: 49.50
	earn a lil: 41.60

In [110]:
print(f"for Japan (lot): {data[(data['salary'] == '>50K') & (data['native-country'] == 'Japan')]['hours-per-week'].mean():.2f}")

for japan (lot): 47.96

In [111]:
print(f"for Japan (lot): {data[(data['salary'] == '<=50K') & (data['native-country'] == 'Japan')]['hours-per-week'].mean():.2f}")

for Japan (lot): 41.00

In [112]:
data['native-country'].value_counts()

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64